.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.remove-btn {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

}

button {
    background-color: #a19d81;
    transition: all 0.2s;
    border-style: solid;
    border-radius: 1em;
}

button:hover {
    background-color: beige;
}

.row {
    min-width: 250px;
    flex-grow: 1;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    border: #908524 1px solid;
    padding: 0.0005em 0.005em 0.00005em 0.75em;
}

.row-content {
    display: flex;
}

.App-link {
    color: #61dafb;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.panel {
    flex-grow: 1;
    flex-flow: column;
    display: flex;
}

.panel-inner {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 0.2em;
    align-content: space-between;
}

.panel-actions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.1em;
    align-content: space-between;
    flex-wrap: wrap;
}

.city {
    background: rgb(206, 206, 206);
    background: linear-gradient(180deg, rgb(115, 115, 115) 0%, rgb(196, 196, 196) 35%, rgb(220, 219, 213) 100%);
}

.road {
    background: rgb(52,23,23);
    background: linear-gradient(180deg, rgba(52,23,23,1) 0%, rgba(126,99,57,1) 35%, rgb(220, 219, 213) 100%);
}

.items {
    background: rgb(117,61,61);
    background: linear-gradient(180deg, rgba(117,61,61,1) 0%, rgba(172,146,146,1) 35%, rgb(220, 219, 213) 100%);
}
